@model IEnumerable<Disturb.Models.Delivery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            DeliviryDate
        </th>
        <th>
            Provider
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliviryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliveryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliveryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryId })
        </td>
    </tr>
}

</table>
